name: CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'debian/changelog.in'
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEBIAN_FRONTEND: noninteractive
  PPA_SIGNING_PASS: ${{ secrets.PPA_SIGNING_PASS }}
  RUSTVER: -1.85

jobs:

  build:
    if: ${{ github.event_name != 'pull_request' }} # If this is a pull request, stop here
    name: Build ubuntu package
    outputs:
      artifact-id: ${{ steps.artifact-upload-step.outputs.artifact-id }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version from tag
        id: git-describe-semver
        uses: choffmeister/git-describe-semver@main
        with:
          version: latest
          fallback: 0.0.0
      - name: Print version
        run: echo Version ${{ steps.git-describe-semver.outputs.version }}
      - name: Setup build environment
        run: |
          sudo apt-get install -y devscripts equivs
          sed -e "s/+RUSTVER+/${RUSTVER}/g" < debian/control.in > debian/control
          rm -f debian/control.in
          sed -e "s/+RUSTVER+/${RUSTVER}/g" < debian/rules.in > debian/rules
          chmod a+x debian/rules && rm -f debian/rules.in
          mk-build-deps --build-dep debian/control
          sudo apt-get install -y ./*.deb
          rm -f *_*

      - name: Setup GPG
        run: |
          echo "${{ secrets.PPA_SIGNING_KEY }}" | gpg --batch --import --yes
      - name: Build package
        run: |
          export PATH="/usr/lib/rust-1.85/bin:$PATH"
          TARGET=noble
          UPSTREAM_VERSION=$(dpkg-parsechangelog -l debian/changelog.in -S Version | sed -e 's/-.*//')
          SRCNAME=$(dpkg-parsechangelog -l debian/changelog.in -S Source)
          ORIG="${SRCNAME}_${UPSTREAM_VERSION}.orig"
          SRCDIR="${SRCNAME}-${UPSTREAM_VERSION}"
          VENDOR=vendor$(date +%s)
          curl -L https://github.com/mozilla-services/syncstorage-rs/archive/refs/tags/${UPSTREAM_VERSION}.tar.gz -o ${ORIG}.tar.gz
          rm -rf ${SRCDIR}
          tar xzf ${ORIG}.tar.gz
          # Generate  syncstorage-rs-vendor.patch and  ${ORIG}-vendor.tar.gz
          cp -a ${SRCDIR} a
          cd a
          cat ../debian/patches/series | while read p ; do
            if [ -f ../$p ] ; then
              echo "Applying patch $p ..."
              patch -p1 < ../$p
            fi
          done
          cd ..
          cp -a a b
          cd b
          cargo vendor -q ${VENDOR}
          mkdir -p .cargo
          cat > .cargo/config.toml << EOF
          [source.crates-io]
          replace-with = "vendored-sources"
          
          [source.vendored-sources]
          directory = "${VENDOR}"
          EOF
          cd ..
          tar czCf b ${ORIG}-${VENDOR}.tar.gz ${VENDOR} && rm -rf b/${VENDOR}
          diff -urwN a b > syncstorage-rs-vendor.patch && rm -rf a b
          ls -lh syncstorage-rs-vendor.patch
          tar xzCf ${SRCDIR} ${ORIG}-${VENDOR}.tar.gz
          # Prepare and build debian source package
          cp -a debian ${SRCDIR}/
          cp -a *.patch ${SRCDIR}/debian/patches
          cp syncserver.env ${SRCDIR}/debian/
          sed -e 's!socket=.*!socket=%2Frun%2Fmysqld%2Fmysqld.sock"!g' < syncserver.toml > ${SRCDIR}/debian/syncserver.toml
          cp README-POSTINSTALL.md ${SRCDIR}/debian/
          sed -e 's/sysconfig/default/' < syncserver.service > ${SRCDIR}/debian/syncserver.service
          sed -e "s/+TARGET+/${TARGET}/g" < debian/changelog.in > ${SRCDIR}/debian/changelog
          rm -f ${SRCDIR}/debian/changelog.in
          echo -e "#!/bin/bash\ngpg --batch --pinentry-mode loopback --passphrase \"${{ secrets.PPA_SIGNING_PASS }}\" \"\$@\"" > ppasign
          chmod a+x ppasign
          PPASIGN="$(pwd)/ppasign"
          KID="$(gpg -k | grep "^ " | tr -d " ")"
          (cd ${SRCDIR} && dpkg-buildpackage -S -sa -k"${KID}" -p"${PPASIGN}")
          # Build debian binary package
          (cd ${SRCDIR} && dpkg-buildpackage -b -k"${KID}" -p"${PPASIGN}")
          rm -rf ${SRCDIR}
      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: syncstorage-rs
          retention-days: 1
          if-no-files-found: error
          path: |
            *_*

  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' }}
    needs: [build]
    name: Call CD
    uses: ./.github/workflows/cd.yml
    secrets: inherit
    with:
      artifact-name: syncstorage-rs
